<div class="profile flex-row space-between">
    <div class="urer-info flex-row space-between">
        <img src="https://www.w3schools.com/html/img_girl.jpg" alt="img_girl.jpg">
        <div class="details flex-col">
            <div class="name">Jhon Doe</div>
            <div class="mail-id" style="display: flex;">
                <div style="margin-top: 2px;">
                    <mat-icon style="font-size: medium;">mail</mat-icon>
                </div>
                <span>jhondoe.gmail.com</span>
            </div >
            <div class="mobile" style="display: flex;">
                <div style="margin-top: 1px;">
                    <mat-icon style="font-size: medium;">smartphone</mat-icon>
                </div>
                <span>8196703145</span>
            </div>
        </div>
    </div>
    <div style="margin-left: -5px;" class="buttons flex-row space-between ">
        <button  (click)="next()" class="button1"    mat-flat-button>
            <mat-icon >settings</mat-icon>&nbsp;
            <span>Settings</span>
        </button>
    </div>
</div>

